{
  "FbFriendFunction": {
    "META_TABLE": "TVQMeta",
    "FB_FRIEND_TABLE": "TVQFbFriends"
  },
  "SpotifyFunction": {
    "META_TABLE": "TVQMeta"
  },
  "CVFunction": {
    "META_TABLE": "TVQMeta"
  }
}
